div.card {
	--bs-card-color: var(--theme-color, #333);
	--bs-card-bg: var(--theme-background, #fff);

	&__title {
		color: var(--theme-color, #333);
	}

	&__text {
		color: var(--theme-color, #333);
		opacity: 0.85;
	}

	&__body {
		grid-template-rows: 1.75rem min-content 1fr;
	}
}
